.camerabox {
	margin-bottom: 75px;
	
	&.camerabox-enabled {
		.camerabox_title__left-indicator {
			background: #89e900;
			box-shadow: 0 0 7px 0 rgba(168,255,0,0.75), 0 1px 1px 0 #317301 inset;
		}
	}
	
	&.camerabox-disabled {
		.camerabox_title__left-indicator {
			background: #7d7e7d;
			background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
			background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
			background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );			
			box-shadow: 0 2px 3px 0 #939393, 0 1px 0 0 #fff inset;
		}
		
		.camerabox_title__right-settings {
			color: #000;
		}
		
		.camerabox_inner {
			&:before {
				@extend .empty-content;
				@include item-position(absolute,0,0);
				right: 0;
				bottom: 0;
				z-index: 2;
				background: rgba(50,50,50,0.98);
			}
		}
	}
	
	&.camerabox-recorded {
		.camerabox_title__left-indicator {
			background: #e90000;
			box-shadow: 0 0 7px 0 rgba(255,0,0,0.75), 0 1px 1px 0 #590000 inset;
		}
	}
}

.camerabox_title {
	margin: 0 0 25px;
}

.camerabox_title__left,
.camerabox_title__right {
	@extend .border-box;
	@include inline-block;
}

.camerabox_title__left {
	width: 50%;
	font-size: 22px;
	padding: 0 15px 0 0;
}

.camerabox_title__left-indicator {
	@include size(20px,20px);
	@include inline-block;
	margin: 0 0 0 10px;
	border-radius: 50%;
	background: #000;
}

.camerabox_title__right {
	@extend .text-right;
	width: 50%;
	margin: 0 0 0 -4px;
}

.camerabox_title__right-fullscreen,
.camerabox_title__right-settings {
	@extend .fi;
	@extend .no-dec;
	@include inline-block;
	margin: 0 12px 0 0;
}

.camerabox_title__right-fullscreen {
	@extend .flaticon-focus-selector;
	@include fsize-txtcolor(22px,#000);
	
	&:hover,
	&:focus {
		@extend .camerabox_title__right-fullscreen;
	}
}

.camerabox_title__right-settings {
	@extend .flaticon-gear;
	@include fsize-txtcolor(21px,#c1c0c0);
	margin-right: 0;
	
	&:hover,
	&:focus {
		@extend .camerabox_title__right-settings;
	}
}

.camerabox_inner {
	@extend .pos-rel;
	
	canvas {
		display: none;
	}
}