body {
    margin: 0;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    padding: 0;
    overflow: hidden;
}

iframe {
    float: left;
    width: 50%;
    height: 800px;
    border: 0;
    background-color: #eeeeee;
}

#map {
    background-image: url(scheme/scheme.jpg);
    background-size: cover;
    margin: 20px;
}

circle {
    r: 15;
}

.hidden {
    display: none;
}

.w100 {
    width: 100%;
}

#tabs {
    margin: 5px 10px 0;
}

div.tab {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #aaaaaa;
    cursor: pointer;
    transition: 300ms;
}

div.tab:hover {
    background-color: #999999;
}

div.tab:active {
    background-color: #666666;
}

div.tab.selected {
    background-color: #666666;
}

#pages {
    height: 100%;
    width: 100%;
}

.page {
    height: 100%;
    width: 100%;
}

#controls {
    margin: 5px 10px;
}



div.button {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #aaaaaa;
    cursor: pointer;
}

div.button:hover {
    background-color: #999999;
}

div.button:active {
    background-color: #666666;
}

.state {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    cursor: default;
}

.state.unknown {
    color: gray;
}

.state.recording {
    color: red;
}

.state.idle {
    color: green;
}
