body {
	font: $default-fsize $default-ffamily;
	line-height: $default-lheight;
	color: $default-txtcolor;
	padding: 75px 0;
}

/* reset */
address,
ul, ol {
	margin-bottom: 0;
}
	
h1,h2,h3,h4 {
	margin: 0;
	font-family: $title-font;
	color: $title-color;
}
	
p {
	line-height: 16px;
}
	
a, a:hover, a:focus {
	color: #415f8f;
	outline: none;
	border-width: 0;
	text-decoration: underline;
}
	
a:hover {
	text-decoration: none;
}

input, textarea,
input:hover, textarea:hover,
input:focus, textarea:focus,
button,
button:active,
button:focus,
.i-btn,
.i-btn:active,
.i-btn:focus {
	@include box-shadow(none);
	outline: none !important;
}

/* other */
.i-transition {
	@include i-transition;
}

.top-transition {
	@include top-transition;
}

.empty-content {
	content: '';
}

.pos-stat {
	position: static;
}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
}

.overflow-hidden {
	overflow: hidden;
}

.overflow-visible {
	overflow: visible;
}

.no-dec {
	text-decoration: none;
	
	&:hover,&:focus {
		@extend .no-dec;
	}
}

.text-underline {
	text-decoration: underline;
	
	&:hover,
	&:focus {
		@extend .text-underline;
	}
}


.i-bold {
	font-weight: 700;
}

.i-field {
	border: 0;
	padding: 0 10px;
}

.i-btn {
	@extend .text-center;
	@include inline-block;
	@include fsize-fweight-lheight(16px,400,1);
	padding: 7px 35px 10px;
	color: #fff;
	border: 0;
	border-radius: 5px;
	background: #415f8f;
	cursor: pointer;
	text-decoration: underline;
	
	&:hover,&:focus {
		@extend .i-btn;
		background: #004277;
	}
}

.tab-pane {
	display: none;
	
	&.active {
		display: block;
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-uppercase {
	text-transform: uppercase;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.valign-bottom {
	vertical-align: bottom !important;
}

.border-box {
	box-sizing: border-box;
}

.img-responsive {
	max-width: 100%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.default-txtcolor {
	color: $default-txtcolor;
}

.light-txtcolor {
	color: $light-txtcolor;
}

.i-success {
	color: $success-txtcolor;
}
	
.i-error {
	color: $error-txtcolor;
}