.control {
	@extend .pos-rel;
	@extend .text-right;
	padding: 0 35px 0 0;
}

.control_btn {
	@extend .fi;
	@extend .no-dec;
	@extend .pos-rel;
	@extend .text-center;
	@include inline-block;
	@include fsize-txtcolor(20px,#000);
	@include offset(0 0 30px,130px 0 0);
	width: 115px;
	
	&:hover,
	&:focus {
		@extend .control_btn;
	}
	
	&:after {
		@extend .empty-content;
		@include item-position(absolute,0,50%);
		@include offset(0 0 0 -57px,115px 0 0 115px);
		z-index: 1;
		border-radius: 50%;
		background: #c3c3c3;
		background: -moz-linear-gradient(top,  #c3c3c3 0%, #e3e3e3 66%, #ebebeb 100%);
		background: -webkit-linear-gradient(top,  #c3c3c3 0%,#e3e3e3 66%,#ebebeb 100%);
		background: linear-gradient(to bottom,  #c3c3c3 0%,#e3e3e3 66%,#ebebeb 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='#ebebeb',GradientType=0 );
		box-shadow: 0 0 7px 0 rgba(255,255,255,0.75), 0 5px 1px 0 rgba(0,0,0,0.1) inset;
	}
	
	&:before {
		@include item-position(absolute,13px,50%);
		@include size(88px,88px);
		@include fsize-lheight(34px,88px);
		margin: 0 0 0 -44px;
		z-index: 2;
		border-radius: 50%;
		background: #e3e3e3;
		background: -moz-linear-gradient(top,  #e3e3e3 15%, #c3c3c3 80%, #d5d5d5 100%);
		background: -webkit-linear-gradient(top,  #e3e3e3 15%,#c3c3c3 80%,#d5d5d5 100%);
		background: linear-gradient(to bottom,  #e3e3e3 15%,#c3c3c3 80%,#d5d5d5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#d5d5d5',GradientType=0 );
		box-shadow: 0 2px 5px 0 #777, 0 1px 1px 0 #fff inset;
		text-shadow: 0 -1px rgba(255,255,255,0.75);
		color: #464646;
	}
	
	&.control-settings {
		@extend .flaticon-gear;
	}
	
	&.control-pc {
		@extend .flaticon-pc-with-monitor;
	}
	
	&.control-stop {
		@extend .flaticon-video-player-stop-button;
		
		&.active {
			&:before {
				color: #e90000;
				text-shadow: 0 0 7px rgba(255,0,0,0.75);
			}
		}
	}
	
	&.control-play {
		@extend .flaticon-arrows;
		text-indent: -20px;
		
		&:before {
			text-indent: 0;
		}
		
		&.active {
			&:before {
				color: #89e900;
				text-shadow: 0 -1px #317301;
			}
		}
	}
	
	&.active {
		& + .control_cameras {
			display: block;
		}
	}
}

.control_cameras {
	@extend .text-left;
	@extend .border-box;
	@include size(330px,115px);
	@include item-position(absolute,0,auto);
	right: 92px;
	padding: 15px 75px 15px 25px;
	border-radius: 3px;
	background: #f1f1f3;
	display: none;
}

.control_cameras__link {
	@extend .pos-rel;
	@extend .fi;
	@extend .flaticon-delete;
	@extend .no-dec;
	@include fsize-txtcolor(20px,#000);
	display: block;
	margin: 0 0 12px;
	
	&:last-child {
		margin-bottom: 0;
	}
	
	&:hover,
	&:focus {
		@extend .control_cameras__link;
	}
	
	&:before {
		@include item-position(absolute,0,auto);
		right: 0;
		color: #e90000;
	}
	
	&.enabled {
		@extend .flaticon-shapes;
	
		&:before {
			color: #89e900;
		}
	}
}

.i-fullscreen {
	.control {
		@include inline-block;
		padding-right: 0;
		text-align: inherit;
		
		&:last-child {	
			.control_btn {
				margin-bottom: 0; 
			}
		}
	}
	
	.control_cameras {
		right: 57px;
	}
}