body {
    margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    padding: 0;
    overflow: hidden;
}

circle {
    r: 15;
}

.hidden {
    display: none;
}

#tabs {
    margin: 10px;
    height: 50px;
    width: 100%;
}

div.tab {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #aaaaaa;
    cursor: pointer;
}

div.tab:hover {
    background-color: #999999;
}

div.tab:active {
    background-color: #666666;
}

div.tab.selected {
    background-color: #666666;
}

#pages {
    height: 100%;
    width: 100%;
}

.page {
    height: 100%;
    width: 100%;
}

#controls {
    margin: 10px;
}

iframe {
    width: 49%;
    /*border: 0;*/
    height: 800px;
    /*border: 1px;*/
}

#map {
    background-image: url(scheme.jpg);
    background-size: cover;
    margin: 20px;
}

.state {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    cursor: default;
}

div.button {
    display: inline-block;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background-color: #aaaaaa;
    cursor: pointer;
}

div.button:hover {
    background-color: #999999;
}

div.button:active {
    background-color: #666666;
}
