/* Copyright CANON INC. 2016 */
body {
    margin: 0;
	padding: 0; - webkit - tap - highlight - color: rgba(0, 0, 0, 0)
}
div {
    margin: 0;padding: 0;position: absolute
}
img {
    margin: 0;padding: 0;position: absolute;display: block;border: 0
}.inline {
    position: relative;display: inline
}.wrap {
    width: 100 % ;height: 100 %
}.layer {
    background - image: url("http://127.0.0.1:55555/images/Spacer.gif");
    background - repeat: repeat;
    visibility: hidden;
    display: none
}
div.message - box {
    z - index: 2;
    position: absolute;
    background - color: black
}
div.message - string {
    padding: 3 px 5 px;position: static;font - family: Arial,
    sans - serif;font - size: 13 px;color: #fff;background - color: black
}
img.message - close {
    width: 36 px;height: 36 px;position: relative
}